* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
  background-color: #00fb7424;
}
header {
    width: 960px;
    height: auto;
    margin: 0 auto;
}

.nav {
    width: 960px;
    height: auto;
    background: #000;
    border-radius: 3px;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.nav ul li a {
    display: block;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.nav ul li a:hover{
  color: yellow;
  background: red;
}


.nav ul li ul {
position: absolute;
left: -9999px;
background: #000;
}
.nav ul li:hover ul{
  left: 0px;
}
.nav ul li ul li {
  width: 200px;
  border-bottom: 1px solid #fff;
}


.banner-cover {
  background-image: url(images/man.jpg);
  height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-text button {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    border: 0;
    background: #000000b8;
    color: #fff;
    margin: 0px 8px;
}

.banner-text {
    padding: 100px;
    text-align: center;
}




.about-logo img {
  width: 320px;
  height: auto;
  margin: 0px 10px;
  margin-bottom: 10px;
  box-shadow: 0px 8px 10px 0px #000000;
  transition: .3s;
    overflow: hidden;

}
.about-logo:hover img {
    transform: scale(1.2);
}
.about-text {
    width: 520px;
    height: auto;
    padding: 0px 20px;
}

.row {
    overflow: hidden;
}
.col {
    float: left;
    overflow: hidden;
}
.about-section {
    background-color: #4528ae;
    padding: 40px 0px;
    margin-top: 20px;
  }
.about-text h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}
.about-text p {
  font-size: 16px;
  color: #00dbff;
  line-height: 22px;
}
.title {
    width: 180px;
    height: auto;
    margin: 0 auto;
}

.title h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #fff;
    text-align: center;
    margin-bottom: 30px;
}
.service {
    width: 280px;
    height: auto;
    text-align: center;
    border: 1px solid #fff;
    display: inline-block;
    margin: 10px;
}
.service-section {
    background: #0F28AC;
    margin-top: 20px;
    padding: 40px 0px;
}
.serv-icon{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    transition: .5s;
}
.serv-icon i:hover{
    color: yellow;
    transform: scale(.8);
}

.service h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.service p {
  font-size: 15px;
  color: gray;
  padding: 0px 15px;
  line-height: 22px;
}
                                      /* the end */

.contact {
  background: #fff;
  padding: 15px 15px 15px 80px;
  box-shadow: 0px 0px 10px #ccc;
  width: 180px;
  position: relative;
  display: inline-block;
  margin: 0 8px;
}
.con-icon i {
  position: absolute;
  width: 50px;
  height: 50px;
  float: left;
  top: 8px;
  left: 30px;
  color: #9e1717;
  line-height: 50px;
  font-size: 30px;
  transition: .5s;
}

.con-icon i :hover{
  color: yellow;
  transform: scale(.8);
}

.con-text p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

.contact-section {
  background: #a62485;
  padding: 40px 0px;
  margin-top: 20px;
}
.contact-form {
  width: 620px;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
}
.inputTag input{
  font-size: 20px;
  text-transform: capitalize;
  padding: 10px 10px;
  width: 80%;
  border: 0;
  margin: 8px 0px;
  border-radius: 5px;
}
.inputTag textarea {
  width: 516px;
  height: auto;
  border: 0;
  border-radius: 5px;
}
.inputTag button {
  width: 84%;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 5px;
  border: 0;
  text-transform: uppercase;
  background: turquoise;
  cursor: pointer;
}
footer{
  width: 960px;
  margin: 0 auto;
  height: auto;
  background: #000;
  color: #fff;
  padding: 30px 0px;
}
.footer-icon {
        text-align: center;
}
.footer-icon i {
  font-size: 30px;
  padding: 0px 10px;
  transition: .5s;
}
.footer-icon i:hover{
  color: yellow;
  transform: scaleX(.8);
}
.footer-text{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px 20px;
  text-align: center;
}
